<%= render('layouts/errors', :object => @item) %>

<%= form_for [@category, @item] do |f| %>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<%= f.submit 'Add', class: "btn btn-primary btn-block" %>
<% end %>
