
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div class="container-fluid">
  <div class="row">
    <h1 class="bangtext" style="text-align: center;">Best: <%= @category.name %></h1>
    <hr>
  </div>


  <div class="row">
    <div class="col-md-4">
      <div class="item-list" id="item-list-better">
        <% rank_counter = 0 %>
        <% @category.item_ranks.each do |rank| %>
          <% rank_counter += 1 %>
            <div class="rank-group" data-rank="<%= rank_counter %>">
              <div class="rank-text">Ranked #<%= rank_counter %></div>
              <% @category.items.where(rank: rank.rank).each do |item| %>
              <div class="rank-item rank-left" data-id="<%= item.id %>">
                <%= item.name %>
              </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">

      <% if auth_signed_in? == false %>
        <h4>Sign up or log in to vote!</h4>
        <br><br>
        <%= render 'pie_chart' %>
      <% else %>

        <% if current_auth.user.has_voted_today_for(@category) %>

          <div id="already-voted">
            <h2 style="text-align: center">Thanks for voting!</h2>
            <h4 style="text-align: center">Be sure to come back tomorrow for another chance to vote!</h4>
            <br><br>
            <%= render 'pie_chart' %>
          </div>

        <% else %>

          <div class="center-col" id="left-thing">
            <h3>
              <span class="glyphicon glyphicon-hand-left"></span>
              Which one deserves more props?
            </h3>
            <div>
              <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add-item-modal">
                Wait - I have one that's better than ALL of these!
              </button>
            </div>
          </div>

          <div class="center-col start-hidden" id="better-than">
            <h2 style="text-align: center;">IS BETTER THAN:</h2>
          </div>

          <div class="center-col start-hidden" id="right-thing">
            <h3 style="text-align: right;">
              Which one is overrated?
              <span class="glyphicon glyphicon-hand-right"></span>
            </h3>
          </div>

          <div class="center-col start-hidden" id="vote-thing">
              <h4 style="text-align: center;">CAN YOU DIG IT??</h4>
              <div class="btn btn-lg btn-block btn-primary" id="vote-button">Cast this vote!</div>
          </div>

        <% end %>

      <% end %>

    </div>

    <div class="col-md-4">
      <div class="item-list" id="item-list-worse">
        <% rank_counter = 0 %>
        <% @category.item_ranks.each do |rank| %>
        <% rank_counter += 1 %>
        <div class="rank-group" data-rank="<%= rank_counter %>">
          <div class="rank-text">Ranked #<%= rank_counter %></div>
          <% @category.items.where(rank: rank.rank).each do |item| %>
          <div class="rank-item rank-right" data-id="<%= item.id %>">
            <%= item.name %>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>

  </div>

  <div class="row start-hidden">
    <%= form_tag(category_votes_path([@category]), action: :create, method: :post, id: 'vote-form') do %>
    voted_up_item_id<%= text_field_tag :voted_up_item_id %>
    voted_down_item_id<%= text_field_tag :voted_down_item_id %>
    <%= submit_tag "Vote!" %>
    <% end %>
  </div>

  <div class="modal fade" id="add-item-modal" tabindex="-1" role="dialog" aria-labelledby="addItem">
    <div class="modal-dialog modal-sm">
      <div class="modal-content modal-padding">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Item</h4>
        </div>
        <%= render '/items/form' %>
      </div>
    </div>
  </div>


</div>
