
<h1><%= @category.name %></h1>

<%= link_to 'Add an Item', new_category_item_path(@category) %>


<div class="container-fluid">
  <div class="row">

    <%= form_tag(category_votes_path([@category]), action: :create, method: :post) do %>

      <div class="col-md-3 col-md-offset-2">
        Better Than
        <br>
        <%= select_tag :voted_up_item_id, options_from_collection_for_select(@category.items, :id, :name), {:size => 20 } %>
      </div>

      <div class="col-md-2">
        <% if auth_signed_in? == false %>
          <h4>Sign up or log in to vote!</h4>
        <% else %>
          <%= submit_tag "Vote!" %>
        <% end %>
      </div>

      <div class="col-md-3">
        Worse Than
        <br>
        <%= select_tag :voted_down_item_id, options_from_collection_for_select(@category.items, :id, :name), {:size => 20 } %>

        <div class="item-list">
          <% rank_counter = 0 %>
          <% @category.item_ranks.each do |rank| %>
            <% rank_counter += 1 %>
            <div class="rank-group">
              <div class="rank-text">Ranked #<%= rank_counter %></div>
              <% @category.items.where(rank: rank.rank).each do |item| %>
                <div class="item">
                  <%= item.name %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

      </div>

    <% end %>

  </div>
</div>
