<!DOCTYPE html>
<html>
<head>
  <title>BetterThan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <nav class="navbar navbar-default navbar-inverse">

      <div class="row">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand bangtext logo" href="/">BetterThan</a>
          </div>
          <div class="navbar">
            <ul class="nav navbar-nav navbar-right">
              <% if auth_signed_in? && current_auth.user.admin %>
              <li><%= link_to 'Admin Panel', rails_admin_path %></li>
              <% end %>
              <% if auth_signed_in? %>
              <li><span style="color: white;">Hello, <%= current_auth.email %></span></li>
              <li><%= link_to "Log Out", destroy_auth_session_path, :method => :delete %></li>
              <% else %>
              <li><%= link_to "Log In", new_auth_session_path %></li>
              <li><%= link_to "Sign Up", new_auth_registration_path %></li>
              <% end %>
            </ul>
          </div>
        </div><!-- /.container-fluid -->
      </div>
      <div class="row">
        <div class="container-fluid">
          <div class="navbar-header">
            <ul class="nav navbar-nav">
              <% Category.all.each do |category| %>
                <li><%= link_to category.name, category_path(category) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

    </nav>


    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
  </div>


</body>
</html>
